#about {
  grid-row: 1/2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5rem;

  @media only screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }

  .container {
    background: #ffe2b7;
    justify-content: flex-start;
    color: #373430;

    & > * {
      &:not(:first-child) {
        padding: 0 1rem;
        font-size: 15px;
      }
    }

    h2 {
      background-color: #fffaf2;
      &::before,
      &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
      }
    }
  }
  section:nth-child(2) {
    position: relative;

    p:nth-of-type(2) {
      align-self: center;
      margin-top: 1rem;
      color: #8f5b1b;
      font-size: 18px;
      font-weight: var(--font-weight-strong);
      text-align: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 0 2rem;
      padding: 0;
      list-style: none;

      li {
        margin: 0.25em;
        padding: 0.25em 0.5em;

        transition: color, background-color 0.2s;
        color: #ffe1b7;
        background-color: #373430;
        border: 1px solid;
        border-radius: 10px;
        box-sizing: content-box;

        &:hover {
          color: #373430;
          background-color: #ffe1b7;
        }
      }
    }
  }
}
