#contribute {
  margin-top: 2rem;

  h2 {
    background-color: #fffaf2;
    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  h3 {
    align-self: center;
    margin-top: 1rem;
    color: #8f5b1b;
    font-size: 18px;
    font-weight: var(--font-weight-strong);
    text-align: center;
  }

  .container {
    background: #ffe2b7;
    justify-content: flex-start;
    color: #373430;

    ol {
      list-style: none;
      padding: 0;
    }

    li,
    p {
      padding: 0 1rem;
      font-size: 15px;
    }

    li {
      background-color: #ffffff;
      box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
      padding: 0 1rem;
      border-radius: 4px;
      margin: 0.5rem;

      a {
        background-color: white;
      }
    }
  }
}
#about section:nth-child(2) {
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
}
#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}
#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
}
#about section:nth-child(2)::before {
}
@media (max-width: 35rem) {
  #about section:nth-child(2)::before {
  }
}
