#files {
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  h3 {
    display: none;
    height: 0;
    opacity: 0;
  }

  .container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;

    min-height: unset;
    background-color: #fab34c;
    color: #523810;

    a {
      font-size: 1.125rem;
      line-height: 1;
      text-align: center;
      width: max-content;
      height: max-content;
      padding: 0;
      border-radius: unset;
      padding: 0 0.5rem;
      min-height: 3em;
      color: inherit;
      text-decoration: none;
      display: grid;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #fffaf2;
      }
    }
  }
}
