.page-footer {
  position: relative;
  padding: 3rem 1rem;
  background-color: #373430;
  color: white;
  

  p a {
    color: inherit;
  }

  ul {
    grid-template-columns: repeat(auto-fit, 10rem);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 0;
    margin-bottom: 1rem;
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}
