#guidelines {
  margin-top: 2rem;
  padding-bottom: 5vh;

  .container {
    background: #ffe2b7;
    justify-content: flex-start;
    color: #373430;


    h2 {
      background-color: #fffaf2;
      &::before,
      &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
      }
    }

    h3 {
      display: none;
    }

    p {
      padding: 0 1rem;
      font-size: 15px;
    }

  }
  
  h3 {
    display: inline-block;
    transform: rotate(-8deg) translateX(-10%);
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));

    @supports (background-clip: text) or (-webkit-background-clip: text) {
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    @media (min-width: 120ch) {
      transform: rotate(-8deg) translateX(-30%);
    }
  }

  .container > a {
    align-self: center;
    margin-bottom: -3rem;
    box-shadow: 0px 0px 4px 2px black;
    background-color: #fab34c;
    color: #523810;

    &:hover {
      background-color: #fffaf2;
    }
  }
}
