header {
  min-height: 40vh;
  place-items: center;
  padding: 2rem;

  text-align: center;

  background-color: #373430;
  color: #ffe2b7;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: 0;
    gap: 2rem;
    text-align: center;

    & > * {
      margin: 0;
    }
  }

  a {
    color: white;
  }

  h1 {
    font-size: 24px;
    font-family: "reklame-script", serif;
    font-weight: 400;
    margin-top: 2.5rem !important;
  }

  h2 {
    max-width: 20ch;
    font-size: 40px;
    font-family: "mr-eaves-sans", sans-serif;
    font-weight: 100;
    line-height: 1em;
  }
}
