.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;

  &:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
  }
}

[class^="link"]:not(.link-codepen) {
  min-height: 3em;
}

[class^="link"]:not(.link-codepen),
.profile .container > a {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;

  width: 100px;
  height: 100px;
  border-radius: 50%;

  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }
}

// stylelint-disable-next-line no-descending-specificity
.page-footer [class^="link"] {
  font-size: 16px;
  box-shadow: 0px 0px 4px 2px black;
  background-color: #373430;
  color: #ffffff;
}

.link-allstyles {
  font-size: var(--font-size-h4);

  @media (max-width: 400px) {
    margin-left: 6rem;
  }
}

.link-github {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px black;
  background-color: #373430;
  color: #ffffff;

  span {
    display: block;
  }
  svg {
    width: 1em;
    height: 1em;
    // margin-right: 0.25em;
    margin: 0 auto;
    fill: currentColor;
    display: block;
  }
}
