nav {
  background-color: #ddb97f;
  text-align: center;
  line-height: 1.5em;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;

    a {
      display: inline-grid;
      padding: 0.5rem;
      color: inherit;
      font-size: 1.25rem;
      text-decoration: none;

      &:hover{
        background-color: #373430;
        color: #ddb97f;
      }
    }

    li {
      margin: 0 0.5rem;
      text-decoration: none;
      text-transform: uppercase;
      color: #373430;
    }
  }
}
