.features {
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-template-rows: minmax(8rem, 1fr);
  /*! 
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
  li {
    display: grid;
    position: relative;
    place-content: center;
    min-height: 12rem;
    padding: 1rem;
    color: white;
    text-align: center;
    z-index: 1;
    background-color: #44403b;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      border: 2px dashed #44403b;
      background-image: repeating-linear-gradient(-24deg, transparent, transparent 4px, #44403b 0, #44403b 5px);
      z-index: -1;
      width: 100%;
      height: 100%;
    }

    > span {
      display: grid;
      place-content: center;
      padding: 0.5em;
      grid-gap: 0.5rem;
      line-height: 1.1;

      a {
        color: inherit;
        font-size: 1.3rem;
        font-weight: var(--font-weight-strong);
        text-decoration: none;

        // stylelint-disable-next-line max-nesting-depth
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
        }
      }

      span:nth-child(2) {
        position: relative;
      }
    }
  }
}

#styles {
  margin: 5vh 0 20vh;
  text-align: center;
  background: #fffaf2;

  h2 {
    align-self: center;
    color: #b36200;
    padding: 0.25em 0;
    width: 100%;
    display: grid;
    grid-column-gap: 1.5rem;
    align-items: center;
    font-size: 30px;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  .link-allstyles {
    width: 100px;
    height: 100px;
    background: #44403b;
    border-radius: 50%;
    color: white;
    display: flex;
    margin: 0 auto;
  }
}

#styles .features,
.features.patterned {
  li {

    @media (min-width: 515px) and (max-width: 765px) {
      &:nth-last-child(1):nth-child(odd) {
        grid-column: span 2;
      }
    }
  }
}
