h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}



h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 4vw, var(--font-size-h1));  //4vw
  //font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));  //4vw
  text-align: center;
}

#main h2 {
 // background-color: var(--color-secondary);
  align-self: center;
  color: #000000;
 // padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container {
  > ul:not(.features),
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: var(--font-weight-strong);
}

 a {
   text-decoration: none;
  color: var(--color-anchor); 
} 

::selection {
  color: #fff;
  background: var(--color-darker);
}

